body {
    font-family: "Arial", sans-serif;
}

/* Custom utility classes */
.max-w-sm {
    max-width: var(--breakpoint-sm);
}

.max-w-md {
    max-width: var(--breakpoint-md);
}

.max-w-lg {
    max-width: var(--breakpoint-lg);
}

/* Remove default Bootstrap margin below pagination elements */
.pagination {
    margin-bottom: 0;
}

/* Override Bootstrap default icon size */
.b-icon.bi {
    font-size: 1em !important;
    vertical-align: -0.15em !important;
}

/* Add required indicator to input labels */
label:has(+ div [required])::before {
    content: "*";
    color: red;
}

/* Add icon to external links */
a[href^="http://"]:after,
a[href^="https://"]:after
{
    content: "";
    margin-left: 0.3em;
    background-color: currentColor;
    text-decoration: none;
    display: inline-block;
    width: 1.5ch;
    height: 1.5ch;
    mask: url('data:image/svg+xml,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path fill="currentColor" fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"></path><path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"></path></svg>');
}

.pre-nav {
    font-size: 0.8em;
    background-color: #ebebeb;
    color: #505050;
    padding: 0.4em 0;

    a {
        color: inherit;
        text-decoration: underline;
    }
}

.main-nav {
    border-bottom: 1px solid #eeeeee;
}
